/**** GENERAL ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    font-size: 62.5%;
}

/**** TITLEBAR ****/
.titlebar {
    height: 32px;
    background-color: #000000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    -webkit-app-region: drag;
}
.titlebar-button {
    display: inline-block;
    color: #FFFFFF;
    height: 100%;
    line-height: 24px;
    padding: 4px 12px;
    -webkit-appearance: none;
    border: 0;
    background-color: inherit;
    outline: 0;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.titlebar-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.titlebar-button:focus {
    outline: 0;
}
.titlebar-button img {
    max-height: 100%;
}
#minimise img, #maximise img {
    max-height: 20px;
}

/**** MAIN ****/
.game-container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
.game-window {
    flex: 1;
    display: inline-flex;
    flex-flow: column nowrap;
}
.game-side {
    flex: 1;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

/**** GAME WINDOW ****/
.game-title {
    text-align: center;
    padding: 24px 0 16px;
    min-height: 128px;
    line-height: 128px;
}
#game {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 4px;
    flex: 1;
    border: 4px solid #444444;
}

/**** GAME SIDE ****/
#game-next {
    margin: 4px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid #444444;
}
.game-stats {
    padding: 32px;
}
.stat {
    margin: 16px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.stat p {
    display: inline-block;
}
.stat_label {
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
    font-size: 2em;
}
.stat_data {
    font-family: monospace;
    color: #000000;
    font-weight: bold;
    text-align: right;
    font-size: 4em;
}
.game-buttons {
    padding: 32px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.game-button {
    padding: 16px 32px;
    -webkit-appearance: none;
    border: 0;
    font-size: 2.5em;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    outline: 0;
}
.game-button:focus {
    outline: 0;
}