@font-face {
    font-family: 'StringsTheory';
    src: url('../assets/font/StringsTheory.otf');
}

/**** GENERAL ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    font-size: 62.5%;
    background-color: black;
    overflow: hidden;
}
img {
    pointer-events: none;
}
p {
    pointer-events: none;
}

/**** TITLEBAR ****/
.titlebar {
    height: 32px;
    background-color: #000000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    -webkit-app-region: drag;
}
.titlebar-button {
    display: inline-block;
    color: #FFFFFF;
    height: 100%;
    line-height: 24px;
    padding: 4px 12px;
    -webkit-appearance: none;
    border: 0;
    background-color: inherit;
    outline: 0;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.titlebar-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.titlebar-button:focus {
    outline: 0;
}
.titlebar-button img {
    max-height: 100%;
}
#minimise img, #maximise img {
    max-height: 20px;
}

/**** MAIN ****/
.game-container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
.game-window {
    flex: 1;
    display: inline-flex;
    flex-flow: column nowrap;
    position: relative;
}
.game-side {
    flex: 1;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background-image: url('../assets/img/wallpapers/wallpaper_2.jpg');
    background-size: 125%;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}
.game-wallpaper {
    display: inline-block;
    position: absolute;
    left: -75px;
    width: calc(50% + 160px);
    bottom: -32px;
    right: 0;
    height: calc(100% - 100px);
    z-index: 100;
}

/**** GAME WINDOW ****/
.game-title {
    text-align: center;
    padding: 0 16px;
    height: 128px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: #000000;
}
.game-title img {
    display: inline-block;
}
.logo-wallpaper {
    max-height: 80%;
    margin-right: 12px;
}
.logo {
    max-height: 55%;
}
.game-main {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    overflow: hidden;
}
#game {
    flex: 1;
    display: inline-block;
    margin: 10%;
}
#game-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    flex-flow: column nowrap;
}
#game-overlay.visible {
    display: flex;
}
#overlay-text {
    font-family: StringsTheory, sans-serif;
    font-size: 4em;
    margin-bottom: 16px;
}
.overlay-retry {
    font-size: 2em;
    font-family: monospace;
}
.overlay-spacebar {
    border: 2px solid #FFFFFF;
    font-family: monospace;
    padding: 4px;
    border-radius: 4px;
    animation: blink-animation 1s steps(3, start) infinite;
    -webkit-animation: blink-animation 1s steps(3, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/**** GAME SIDE ****/
.next-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 64px 0;
}

.next-border {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 240px;
    display: inline-block;
}
#game-next {
    margin: 4px;
    margin-top: 10%;
    margin-left: 30%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}
.game-stats {
    padding: 32px;
    background: url('../assets/img/texture/leather.png') no-repeat;
    background-size: 100% 100%;
    margin: 8px;
}
.stat {
    margin: 16px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.stat p {
    display: inline-block;
    font-family: StringsTheory, sans-serif;
}
.stat_label {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 2.5em;
    text-shadow: 0 0 16px #981243;
    letter-spacing: 1px;
    padding-left: 8px;
}
.stat_data {
    font-family: monospace;
    color: #FFFFFF;
    font-weight: bold;
    text-align: right;
    font-size: 4em;
}
.game-buttons {
    padding: 32px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.game-button {
    padding: 16px 32px;
    -webkit-appearance: none;
    border: 0;
    font-size: 2.5em;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    outline: 0;
}
.game-button:focus {
    outline: 0;
}

/**** PARTICLES ****/
.fireeffect {
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 50%;
}
.fireeffect > .particle {
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.7);
    animation: fireeffect 3s ease-in infinite;
    border-radius: 100%;
}

@keyframes fireeffect {
    0% {
        opacity: 0;
    }
    20% {

        opacity: 1;
        transform: translate(0, -20%);
    }
    100% {
        opacity: 0;
        transform: translate(0, -1000%);
    }
}
