/**** GENERAL ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-flow: column nowrap;
    font-size: 62.5%;
}

/**** TITLEBAR ****/
.titlebar {
    height: 24px;
    background-color: #000000;
    text-align: right;
}
.titlebar-button {
    display: inline-block;
    color: #FFFFFF;
    height: 100%;
    line-height: 24px;
    padding: 0 12px;
    -webkit-appearance: none;
    border: 0;
    background-color: inherit;
    outline: 0;
}
.titlebar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.titlebar-button:focus {
    outline: 0;
}

/**** MAIN ****/
.game-container {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
.game-window {
    flex: 1;
    display: inline-flex;
    flex-flow: column nowrap;
}
.game-side {
    flex: 1;
    background-color: rgba(0,0,0,0.2);
}

/**** GAME WINDOW ****/
.game-title {
    text-align: center;
    padding: 16px 0;
    min-height: 128px;
    line-height: 128px;
}
.game {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 4px;
    flex: 1;
}

/**** GAME SIDE ****/
.game-next {
    margin: 4px;
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 4px solid #444444;
}
.game-stats {
    padding: 16px 8px;
}
.stat {
    margin: 16px 0;
    font-size: 2em;
}
.stat_label {
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
}
.stat_data {
    font-family: monospace;
    color: #000000;
}